# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly Deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group    # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: FlyV1 fm2_lJPECAAAAAAACztNxBA0p6a4lyZDchZCpJNS9nLQwrVodHRwczovL2FwaS5mbHkuaW8vdjGWAJLOABS4fh8Lk7lodHRwczovL2FwaS5mbHkuaW8vYWFhL3YxxDybzVwgRhP2ICEtjAAi6DmnQfATqVqFOLt9YtanHJJM17n9WznkMUWe4AwhOxEsueLR/RIxeZrWOT91VZ/ETmDso24/ELl9F8jP4+i910da3sXsBiNhpF7tWUfwaKDXjt8AneEWifW5riehFaocs4/IbT3z7JtU7VRKOJTQ+nHUIgH3Aj5dZEMVEaDB4Q2SlAORgc4As1tYHwWRgqdidWlsZGVyH6J3Zx8BxCBryTgf65jA2OoJ5a+2ckVveaEH6KrQMB5Gn7Whace1Nw==,fm2_lJPETmDso24/ELl9F8jP4+i910da3sXsBiNhpF7tWUfwaKDXjt8AneEWifW5riehFaocs4/IbT3z7JtU7VRKOJTQ+nHUIgH3Aj5dZEMVEaDB4cQQTuJqCmUznTmbnqs13a1lZMO5aHR0cHM6Ly9hcGkuZmx5LmlvL2FhYS92MZgEks5pI2ZlzwAAAAElG4SDF84AE+cPCpHOABPnDwzEEO6X8BMokjnH1a8gByo+19fEICYZcx/MZfZdRYxNHuZ5BFxMRU6IqLrGOq53A9FqKrmh
